<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <!-- define -->
    <servlet>
        <servlet-name>client</servlet-name>
        <servlet-class>com.servlet.Clientt</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>com.servlet.SignUpServlet</servlet-class>
    </servlet>  
    
     <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.LoginServlet</servlet-class>
    </servlet>    
    
    <!-- Mapping-->
    <servlet-mapping>
        <servlet-name>client</servlet-name>
        <url-pattern>/clientt</url-pattern>
    </servlet-mapping>  
     <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
